
**/*.pt
**/checkpoints
**/wget-log
**/_build/
**/*.ckpt
**/outputs
**/*.tar.gz
**/playground
**/wandb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
dataset/*
tensorflow/my_graph/*
.idea/
# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
tmp/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
.venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# vscode
.vscode

# Mac
.DS_Store

# output logs
tests/e2e/toy_examples/deepspeed/synchronous/output.txt

# vim
*.swp

# ckpt
*.lock

# data
*.parquet


# local logs
logs
log
outputs
base_models/hfd.sh
base_models/Qwen2.5-0.5B/.gitattributes
base_models/Qwen2.5-0.5B/config.json
base_models/Qwen2.5-0.5B/generation_config.json
base_models/Qwen2.5-0.5B/LICENSE
base_models/Qwen2.5-0.5B/merges.txt
base_models/Qwen2.5-0.5B/model.safetensors
base_models/Qwen2.5-0.5B/README.md
base_models/Qwen2.5-0.5B/tokenizer_config.json
base_models/Qwen2.5-0.5B/tokenizer.json
base_models/Qwen2.5-0.5B/vocab.json
base_models/Qwen2.5-0.5B/.hfd/aria2c_urls.txt
base_models/Qwen2.5-0.5B/.hfd/last_download_command
base_models/Qwen2.5-0.5B/.hfd/repo_metadata.json
base_models/Qwen2.5-7B/.gitattributes
base_models/Qwen2.5-7B/config.json
base_models/Qwen2.5-7B/generation_config.json
base_models/Qwen2.5-7B/LICENSE
base_models/Qwen2.5-7B/merges.txt
base_models/Qwen2.5-7B/model-00001-of-00004.safetensors
base_models/Qwen2.5-7B/model-00002-of-00004.safetensors
base_models/Qwen2.5-7B/model-00003-of-00004.safetensors
base_models/Qwen2.5-7B/model-00004-of-00004.safetensors
base_models/Qwen2.5-7B/model.safetensors.index.json
base_models/Qwen2.5-7B/README.md
base_models/Qwen2.5-7B/tokenizer_config.json
base_models/Qwen2.5-7B/tokenizer.json
base_models/Qwen2.5-7B/vocab.json
base_models/Qwen2.5-7B/.hfd/aria2c_urls.txt
base_models/Qwen2.5-7B/.hfd/last_download_command
base_models/Qwen2.5-7B/.hfd/repo_metadata.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.0001/config.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.0001/generation_config.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.0001/model.safetensors
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step220/config.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step220/generation_config.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step220/merges.txt
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step220/model.safetensors
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step220/README.md
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step220/tokenizer_config.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step220/tokenizer.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step220/vocab.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step410/config.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step410/generation_config.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step410/merges.txt
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step410/model.safetensors
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step410/README.md
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step410/tokenizer_config.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step410/tokenizer.json
base_models/merged_model_trained_simpleRL_qwen_0.5B_20ep_kl_coef_0.001_step410/vocab.json
